  
  <section class="product-grid">
    <div
      class="product-card"
      *ngFor="let product of products | slice:0:8"
    >
    <a [routerLink]="['/products', product.id]" class="image-wrapper">
        <img [src]="product.img_url" [alt]="product.name" class="product-img" />
        <lucide-angular [img]="HeartIcon" class="heart-icon"></lucide-angular>
      </a>
      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <p>{{ product.price | currency: 'SEK':'symbol':'1.0-0' }}</p>
      </div>
    </div>
  </section>
  
